@model TModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "HelloWorldView";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>